@font-face {
    font-family: HP001;
    font-weight: normal;
    src: url(/static/font/HP001N30.ttf);
}
@font-face {
    font-family: HP001;
    font-weight: bold;
    src: url(/static/font/HP001B30.ttf);
}
textarea
{
    width:100%;
    font-size:72pt;
}
.textwrapper
{
    border:1px solid #999999;
    margin:5px 0;
    padding:3px;
}
p{
    margin: 0;
}

#result{
    font-size:72pt ;
    font-family: HP001; 
    font-weight: bold;
}

#rulesformitem{
    display: block;
}